@mixin image-transition {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.8s ease-out;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
  }
}

@mixin text-transition {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.8s ease-out;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter-active {
    position: absolute;

    @media (max-width: $breakpoint--lg) {
      bottom: 0;
      width: 100%;
    }

    @media (min-width: $breakpoint--lg) {
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
