// Images
.fade__images-enter-active,
.fade__images-leave-active {
  transition: opacity 0.8s ease-out;
}
.fade__images-enter,
.fade__images-leave-to {
  opacity: 0;
}

.fade__images-enter-active {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.fade__images-enter-active {
  -webkit-animation: slide-in-left 0.8s ease-out both;
  animation: slide-in-left 0.8s ease-out both;
}
.fade__images-leave-active {
  -webkit-animation: slide-out-right 0.8s ease-out both;
  animation: slide-out-right 0.8s ease-out both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}

// Texts
.fade__texts-enter-active,
.fade__texts-leave-active {
  transition: opacity 0.8s ease-out;
}
.fade__texts-enter,
.fade__texts-leave-to {
  opacity: 0;
}

.fade__texts-enter-active {
  position: absolute;

  @media (max-width: $breakpoint--lg) {
    bottom: 0;
    width: 100%;
    -webkit-animation: slide-in-left 0.8s ease-out both;
    animation: slide-in-left 0.8s ease-out both;
  }

  @media (min-width: $breakpoint--lg) {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.fade__texts-leave-active {
  @media (max-width: $breakpoint--lg) {
    -webkit-animation: slide-out-right 0.8s ease-out both;
    animation: slide-out-right 0.8s ease-out both;
  }
}
