// Colors
$color__primary: #335a39;
$color__white: #ffffff;

// Breakpoints
$breakpoint--sm: 640px;
$breakpoint--md: 800px;
$breakpoint--lg: 1024px;
$breakpoint--xl: 1280px;
$breakpoint--xxl: 1366px;
