@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

$color__primary: #335a39;
$color__white: #ffffff;

.section__primary {
  background-color: $color__primary;
  color: $color__white;
}
